.marker_icon {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    padding-top: 1.5em;
    width: 2em;
    min-width: 2em;
    height: 2em;
    display: inline-block;
    text-align: center;
}

.rating-text{
    background: #fff;
}

.control-bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    background: #FFF;
    width: 100px;
    height: 100vh;
    padding: 5px;
}

label {
    vertical-align: middle;;
}